.carousel-inner {
	max-height: 500px;
}

.card-img-top {
	max-height: 200px;
	object-fit: cover;
}

.news-section {
	background-color: #f8f8f8;
}

.card {
	transition: all 0.2s ease-in-out;
}

.card:hover {
	transform: scale(1.02);
}
