.side-nav-link {
	text-align: center;
  cursor: pointer;
  font-weight: 500;
}
.side-nav-link:hover {
  background-color: rgb(236, 236, 236) !important;
}
.side-nav-link:active {
  transform: translateY(2px);
}
@media (max-width: 768px) {
	.side-nav {
		flex-direction: row !important;
		justify-content: space-around;
	}
	.side-nav-link {
		width: 50%;
	}
}
