@media (min-width: 768px) {
	.newsletter-input {
		width: 45%;
	}
}
@media (max-width: 768px) {
	.footer {
		text-align: center;
	}
}

.footer {
	position: absolute;
	left: 0;
	bottom: 0;
	right: 0;
}
