.nav-link, .navbar-nav a {
	text-decoration: none;
	color: rgba(255,255,255,.55);
  padding: 10px;
}

.navbar-nav a:hover, .nav-link:hover {
	color: white;
  cursor: pointer;
}

.cart-count {
  position: relative;
}
